<div class="container">
    <h2>BIOGRAPHY</h2>

    <div class="row">
        <div class="col-md-6 well">
            <p>
                Malcolm Clark Robertson was born in Navasota, Texas in 1955. He lived and worked as an artist,
textile and furniture designer, and educator in New York City during the 1980s, until his death
from AIDS related complications in 1991. Robertson’s work was shown in solo exhibitions at
Galerie Ton Peek in Amsterdam and International With Monument Gallery in New York and was
included in group exhibitions at White Columns Gallery, The Queens Museum, and Art et
Industrie Gallery, all in New York City. He created a collection of silkscreened textiles,
Photosilks, for Inger McCabe Elliot, photojournalist and founder of China Seas Fabrics.
Robertson taught textile design at the New School for Social Research (1983-1986) and at
Parsons School of Design (1983-1990). His work is held in the permanent collection of the
Cooper Hewitt Smithsonian Design Museum in New York City.
                <br/>
                <br/>
Robertson’s visual art is often large in scale, and typically employs a process of layered
silkscreened images on dyed linen, which are then worked into with pigment, embroidery and
other mixed media. While Robertson’s imagery was drawn from diverse sources, a First World
War-era book on facial reconstructive surgery serves as a foundational text for his work. He
was interested in the ways in which physical suffering is understood visually and culturally, and
in creating a contemplative space where representations of death, disfigurement, sex and
beauty might coexist in all of their fraught contingencies.
                <br/>
                <br/>
This website has been created by Janis Beck and Lauren Camphire, Clark Robertson’s sister and
niece, respectively. For any inquiries about Robertson’s work or archive, please contact Lauren
at laurenrbeck@gmail.com
            </p>


        </div>
        <div class="col-md-6">
            <div class="col-md-4"><img class="img-responsive" src="./media/IMAGES/bio/bio1.jpg"/></div>
            <div class="col-md-4"><img class="img-responsive" src="./media/IMAGES/bio/bio2.jpg"/></div>
            <div class="col-md-4"><img class="img-responsive" src="./media/IMAGES/bio/bio3.jpg"/></div>
        </div>

    </div>

    <div class="row" ng-repeat="item in items track by $index" ng-if="items && $index % 4 == 0">
        <div ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3]"
             ng-if="items[i] != null">
            <div class="col-xs-12 page-grid">
                <div class="panel" data-toggle="modal" data-target="#myModal">
                    <div class="album-img panel-body text-center">
                        <img class="img-responsive" ng-src="{{ items[i].thumb }}"/>
                    </div>
                    <div class="text-center panel-footer">
                        <h5 class="title">{{ items[i].title }}</h5>
                        <div class="text-muted small description">
                            {{ items[i].description }}<br/>{{ items[i].dimensions }}
                        </div>
                        <div class="full-res-link" style="display:none;">
                            <a href="{{ items[i].src }}" target="_blank">Full Resolution.
                                <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
